html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'futura';
    src: url(src/font/futura-extra-black-bt.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

.card-width {
    max-width: 18rem;
}

.carousel-img {
    object-fit: cover;
    height: calc(100vh - 71px);
}

.color-btn {
    background-image: linear-gradient(#1e42c4, #1735a4);
    color: rgba(255, 255, 255, 0.582);
    border-color: rgba(rgba(0, 0, 0, 0));
}

.color-btn:hover {
    color:rgba(255, 255, 255, 0.89);;
}

.card-border {
    border-color: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-img {
    object-fit: cover;
    height: 200px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.logo-img {
    width: 250px;
    height: auto;
    padding-top: 70px;
    padding-bottom: 15px;
}

.box-construcao {
    background-color: rgb(223,57,50);
    width: 440px;
    font-family: 'futura';
}

.box-contato {
    background-color: rgb(223,57,50);
    width: 470px;
    font-family: 'futura';
}

.top {
    padding-top: 70px;
}

.bottom {
    padding-bottom: 70px;
}

.underline-color {
    text-decoration-color: rgb(223,57,50); 
    text-underline-offset: 4px;
}

.servico-align {
    padding-top: 75px;
}

.background-transparent {
    background-image: linear-gradient(#1e42c4, #1735a4);
}

.text-shadow {
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.transparency {
    opacity: 0.5;
}

.blue-background {
    background-image: linear-gradient(#1e42c4, #1735a4);
}

.text-color {
    color:rgba(255, 255, 255, 0.89);
}

#buttonTop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #d8dbe2;
    box-shadow: rgba(0, 0, 0, 0.308) 7px 7px 10px -2px;
    border-radius: 50%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#buttonTop:hover {
    transform: scale(1.04);
}

.arrow {
    border: solid #1735a4;
    border-width: 0 5px 5px 0;
    padding: 5px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
}

.phone-button {
    cursor: pointer;
    background-color: rgb(219, 203, 55);
    box-shadow: rgba(0, 0, 0, 0.26) 7px 7px 10px -2px;
}

.whats-button {
    cursor: pointer;
    background-color: rgb(25, 146, 69);
    box-shadow: rgba(0, 0, 0, 0.26) 7px 7px 10px -2px;
    color: white;
}
 
.insta-button {
    cursor: pointer;
    background: linear-gradient(230deg, #D38312 0%, #A83279  61%, #D38312  100%);
    background-size: 200% auto;            
    box-shadow: rgba(0, 0, 0, 0.26) 7px 7px 10px -2px;
    color: white;
  }

.img-phone {
    height: 500px;
    width: auto;
}

/* modal-carousel */
.img-size {
    height: 450px;
    width: 800px;
    background-size: cover;
    overflow: hidden;
}

.modal-content {
    border: none;
}

.modal-body {
    padding: 0;
}

.slice {
    background-color: rgb(223,57,50);
    height: 5px;
    width: 70px;
}

/* mobile devices */
@media (max-width: 800px) {
    .img-size {
        height: 225px;
        width: 400px;
    }
    .carousel-img {
        height: calc(50vh - 71px);
    }
    .box-construcao {
        width: 310px;
        font-size: 28px;
    }
    .box-contato {
        width: 330px;
        font-size: 28px;
    }
}